# Maven target directory
/target/

# Logs
*.log
spring.log

# OS-specific files
.DS_Store
Thumbs.db

# Eclipse IDE
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Environment files
.env


# JaCoCo coverage reports
jacoco.exec
target/site/jacoco/

# Docker-related
*.dockerfile
docker-compose.override.yml
*.env

# Helm-related
helm/oomlet/charts/
helm/oomlet/tmp/

# Node-related (if any frontend modules are added later)
node_modules/

# Temporary files
*.tmp
*.bak
*.swp

# oomlet-specific
oomlet-*.jar
oomlet-*.zip

target/
